main.flex {
  gap: 2.64rem;
  align-items: start;
}

/* left section */
section.left-section.flex {
  flex-direction: column;
  gap: 10px;
}
section.left-section.flex button {
  background-color: rgba(36, 37, 46, 1);
  width: 11rem;
  padding: 0.75rem 0;
  text-align: center;
  font-size: 1.05rem;
  text-transform: capitalize;
  opacity: 0.5;
  transition: 0.3s;
}
section.left-section.flex button:hover {
  opacity: 1;
}
section.left-section.flex button.active {
  opacity: 1;
  font-weight: bold;
  letter-spacing: 0.6px;
  border: 1px solid var(--blue);
  border-radius: 5px;
}
.light section.left-section.flex button.active {
  border: 1px solid #000;
}
/* right section */
section.right-section.flex {
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 16px;
  row-gap: 2rem;
  flex-grow: 1;
}
.card {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(93, 188, 252, 0.3);
  transition: 0.3s;
  border-radius: 5px;
  color: black;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.05)
  );
}
.light .card {
  border-color: #00000039;
}
.light .card:hover {
  border-color: #000000a3;
  background-color: rgba(246, 246, 246, 1);
}
.card img {
  border-radius: 5px;
}
.card:hover {
  border: 1px solid var(--blue);
  rotate: 1deg;
  scale: 1.01;
  cursor: pointer;
}
.card .box {
  padding: 1rem 0.4rem;
}
.card .box .title {
  color: var(--title);
  text-transform: capitalize;
}
.card .box .sub-title {
  color: var(--subtitle);
  font-size: 0.8rem;
  margin-top: 0.7rem;
  margin-bottom: 1.1rem;
}
.card .box .card-icons {
  justify-content: space-between;
}
.card .icon-link,
.card .icon-github {
  font-size: 1.2rem;
  color: var(--subtitle);
}
.card .icon-link:hover,
.card .icon-github:hover {
  font-size: 1.25rem;
  color: var(--icon-hover);
  cursor: pointer;
}
.card .card-link {
  font-size: 0.9rem;
  color: var(--blue);
  display: flex;
  gap: 0.25rem;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1000px) {
  .container {
    width: 90%;
    padding: 0 1.7rem;
  }
  .divider {
    width: calc(
      100% + var(--container-padding) - 2.3rem + var(--container-padding) -
        2.3rem
    );
    margin-left: -1.7rem;
  }
}
@media (max-width: 600px) {
  main.flex {
    flex-direction: column;
    gap: 2.64rem;
    align-items: center;
  }
  section.left-section.flex {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  section.left-section.flex button {
    width: 7rem;
    padding: 0.8rem 0;
    text-align: center;
    font-size: 0.9rem;
  }
}
